



 {% extends "layout.html" %}

{% block content %}
    {% for livro in livros %}
        <h3> {{ livro.titulo }} </h3>
        <p> por <b>{{ livro.autor }}</b> publicado em {{ livro.ano }} </p>
        <a href="{{ url_for('remover_livro', livro_id = livro.id) }}">Remover</a>
        <a href="{{ url_for('atualizar_livro', livro_id = livro.id) }}">Atualizar</a>
    {% endfor %}
{% endblock content %}
