<!DOCTYPE html>
<html>
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">

        {% if pag_title %}
            <title> Livros S.A. - {{pag_title}} </title>
        {% else %}
            <title>Livros S.A.</title>
        {% endif %}
    </head>

    <body>

        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" >Livros S.A.</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link" href="/">Home</a>
                            <a class="nav-item nav-link" href="{{ url_for('registrar_livro') }}">Registrar Livro</a>
                            <a class="nav-item nav-link" href="{{ url_for('exibir_items') }}">Visualizar Livros</a>
                        </div>

                    </div>
                </div>
            </nav>
        </header>
        

        <main role="main" class="container">
                <div class="row">
                  <div class="col-md-8">

                    {% with msgs = get_flashed_messages(with_categories = true) %}
                        {% if msgs %}            <!-- se há alguma mensagem do bckend para mostrar... -->
                            {% for category, mensagem in msgs %}
                                <div class="alert alert-{{ category }}">
                                    {{ mensagem }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}



                    {% block content %}{% endblock %}   <!-- bloco para cada pagina sobreescrever o layout -->
                  </div>
                </div>
              </main>   

            <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>