


{% extends "layout.html" %}

{%block content %}
    <div class="content-section">
        <form action="" method="post">
            {{ form.hidden_tag() }} <!-- função para proteção contra ataques de forms -->

            <fieldset class="form-group">
                <legend class="border-botton mb-4">{{ legenda }}</legend>
                <div class="form-group">
                    {{ form.titulo.label(class="form-control-label") }}

                    {% if form.titulo.errors %}       <!-- iteração para verificar se os objts da classe form retornou algum erro e exibi-los -->
                        {{ form.titulo(class="form-control form-control-lg is-invalid") }}
                        <div>
                            {% for error in form.titulo.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.titulo(class="form-control form-control-lg") }}
                    {% endif %}


                </div>
                <div class="form-group">
                    {{ form.autor.label }}

                    {% if form.autor.errors %}       <!-- iteração para verificar se os objts da classe form retornou algum erro e exibi-los -->
                        {{ form.autor(class="form-control form-control-lg is-invalid") }}
                        <div>
                            {% for error in form.autor.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.autor(class="form-control form-control-lg") }}
                    {% endif %}

                </div>
                <div class="form-group">
                    {{ form.ano.label }}

                    {% if form.ano.errors %}       <!-- iteração para verificar se os objts da classe form retornou algum erro e exibi-los -->
                        {{ form.ano(class="form-control form-control-lg is-invalid") }}
                        <div>
                            {% for error in form.ano.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ano(class="form-control form-control-lg") }}
                    {% endif %}

                </div>
            </fieldset>
            <div class="form-group">
                {{ form.add_livro_btn }}
            </div>
        </form>
    </div>
{% endblock content%}
